name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 10.x
          - 12.x
          - 14.x
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup PNPM
        uses: pnpm/action-setup@v1.2.1
        with:
          version: 4.11.1

      - name: Install Dependencies
        run: pnpm i

      - name: Build project
        run: |
          pnpm run all --if-present

      - name: Run tests
        run: |
          pnpm run test:all --if-present

      - name: Run checks
        run: |
          pnpm run check:all --if-present

      - name: Circular dependency check
        uses: gerrit0/circular-dependency-check@v1
        with:
          entry: dist/index.js

      - name: coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: actions ${{ matrix.node-version }}
          file: ./coverage/coverage-final.json
          fail_ci_if_error: true
          verbose: true
